.body {
  /* border: 1px solid red; */
  overflow: scroll;
  height: 100vh;
  flex: 0.8;
  /* background-color: ; */
  color: white;
  padding: 10px;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}

/* #ea8fb5 */

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body__info > img {
  height: 15vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText {
  flex: 1;
}

.body__infoText > h1 {
  font-size: 6vw;
  margin-bottom: 10px;
}

.body__infoText > p {
  font-size: 14px;
  color: #dbcbd2;
}

.body__infoText > strong {
  font-size: 12px;
}

.body__icons {
  display: flex;
  align-items: center;
}

.body__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body__shuffle {
  font-size: 70px !important;
  margin: 20px 20px 0px 20px;
  /* color: #1db954; */
}

.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.body__favouriteIcon {
  font-size: 40px !important;
  color: #1db954;
  margin-top: 20px;
}

.body__favouriteIcon:hover {
  transition: color 0.1s ease;
  color: white;
}

.body__moreItemsIcon {
  font-size: 30px !important;
  color: #cbc2c6;
  margin-top: 20px;
}

.body__moreItemsIcon:hover {
  transition: color 0.1s ease;
  color: white;
}
