.sidebar {
  /* border: 1px solid black; */
  /* position: fixed; */
  height: 100vh;
  flex: 0.2;
  color: white;
  min-width: 200px;
  padding: 0 10px;
  background-color: black;
}

.sidebar__logo {
  height: 60px;
  padding: 10px;
  margin-right: auto;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebar__title {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.sidebar__playlists {
  overflow: scroll;
  margin-left: 10px;
}
